<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
          crossorigin="anonymous"></script>
  <link rel='stylesheet'
        href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>

<div class="d-flex justify-content-end pt-3 pe-4">
  <div th:if="${@userSession.getName()==null}">

    <form class="row g-3" th:action="@{/logIn}" method="post">

      <div th:if="${param.fail}" class="form-control-sm col-auto alert alert-danger"
           style="padding: 4px 4px 4px 4px;"
           role="alert">
        Логин или пароль введены неверно!
      </div>

      <div class="col-auto">
        <label for="eEmail2" class="visually-hidden">Email</label>
        <input type="text" class="form-control form-control-sm" id="eEmail2"
               placeholder="email@example.com"
               name="login">
      </div>
      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="password" class="form-control form-control-sm" id="inputPassword2"
               placeholder="Password"
               name="password">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-sm mb-3">LogIn</button>
      </div>
      <div class="col-auto ms-3">
        <a th:href="@{/signPage}" class="btn btn-primary btn-sm mb-3">SignIn</a>
      </div>
    </form>
  </div>
  <div th:if="${@userSession.getName()!=null}">
    <span class="pe-3" th:text="${@userSession.getName()}"></span>
    <a class="text-decoration-none pe-5"
       th:href="@{/logout}">LogOut</a>
  </div>
</div>

<nav class="nav">
  <span class="nav-link disabled">Показать</span>
  <a class="nav-link text-muted"
     th:classappend="${filtr!='yes' && filtr!='no'}?'active-menu':'non-active'"
     th:href="@{/all}">Все</a>
  <a class="nav-link text-muted"
     th:classappend="${filtr=='yes'}?'active-menu':'non-active'"
     th:href="@{/yes}">Выполненные</a>
  <a class="nav-link text-muted"
     th:classappend="${filtr=='no'}?'active-menu':'non-active'"
     th:href="@{/no}">Новые</a>
</nav>

<div class="container position-relative pt-3">
  <table class="table caption-top">
    <caption>List of TODO</caption>
    <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Created</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="select-item" th:each="item,iterStat :${items}">
      <th scope="row" th:text="${iterStat.count}">0</th>
      <td>
        <a th:href="@{|/item/${item.id}|}" th:text="${item.title}"></a>
      </td>
      <td th:text=" ${item.created}">Mark</td>
      <td>
        <span class='bi bi-check-circle-fill' style='color: green'
              th:if="${item.status}"></span>
        <span class='bi bi-clock-history' style='color: blue'
              th:if="${!item.status}"></span>
      </td>
      <td><a th:href="@{|/item/${item.id}/edit|}">Edit_<i class='bi bi-pencil'></i></a></td>
    </tr>
    </tbody>
  </table>

  <div class="position-absolute bottom-0 end-0"
       style='transform: translate(-350%,120%);'>
    <a class='bi bi-plus-circle-fill' style="font-size: 300%;color: #ff00aa"
       th:href="@{/newItem}"
    ></a>
  </div>
</div>
</body>
</html>
