<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
          crossorigin="anonymous"></script>
  <link rel='stylesheet'
        href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
  <link rel='stylesheet' th:href="@{css/application.css}">
  <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.ico}"/>
</head>
<body>

<div class="d-flex justify-content-end pt-3 pe-4">
  <div th:if="${@userSession.getAccount()==null}">

    <form class="row g-3" th:action="@{/logIn}" method="post">

      <div th:if="${param.fail}" class="form-control-sm col-auto alert alert-danger"
           style="padding: 4px 4px 4px 4px;"
           role="alert">
        Логин или пароль введены неверно!
      </div>

      <div class="col-auto">
        <label for="eEmail2" class="visually-hidden">Email</label>
        <input type="text" class="form-control form-control-sm" id="eEmail2"
               placeholder="email@example.com"
               name="login">
      </div>
      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="password" class="form-control form-control-sm" id="inputPassword2"
               placeholder="Password"
               name="password">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-sm mb-3">LogIn</button>
      </div>
      <div class="col-auto ms-3">
        <a th:href="@{/signPage}" class="btn btn-primary btn-sm mb-3">SignIn</a>
      </div>
    </form>
  </div>
  <div th:if="${@userSession.getAccount()!=null}">
    <span class="pe-3" th:text="${@userSession.getAccount().getName()}"></span>
    <a class="text-decoration-none pe-5"
       th:href="@{/logout}">LogOut</a>
  </div>
</div>

<nav th:if="${@userSession.getAccount()!=null}" class="nav">
  <span class="nav-link disabled">Показать</span>
  <a class="nav-link text-muted"
     th:classappend="${filtr!='yes' && filtr!='no'}?'active-menu':'non-active'"
     th:href="@{/all}">Все</a>
  <a class="nav-link text-muted"
     th:classappend="${filtr=='yes'}?'active-menu':'non-active'"
     th:href="@{/yes}">Выполненные</a>
  <a class="nav-link text-muted"
     th:classappend="${filtr=='no'}?'active-menu':'non-active'"
     th:href="@{/no}">Новые</a>
</nav>

<div th:if="${@userSession.getAccount()==null}" class="d-flex flex-column mb-2">
  <div class="p-4 text-bg-info"></div>
  <div class="p-2 text-bg-dark justify-content-center">
    <div class="d-flex justify-content-center align-items-center p-3">
      <h1 class="text-nowrap fw-bold" style="font-size: 550%; font-family: sans-serif;">simple
        TODO</h1>
    </div>
  </div>
  <div class="p-4 text-bg-info"></div>
  <div class="p-3 text-bg-light text-center fs-6"
       style="font-family:Muli, Arial, sans-serif;">
    Войдите в свою учетную запись или зарегистрируйтесь
  </div>
</div>

<div th:if="${@userSession.getAccount()!=null}" class="container position-relative pt-3">
  <table class="table caption-top">
    <caption>List of TODO</caption>
    <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Created</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="select-item" th:each="item,iterStat :${items}">
      <th scope="row" th:text="${iterStat.count}">0</th>
      <td>
        <a th:href="@{|/item/${item.id}|}">
          <span th:text="${item.title}"></span>
          <span class="ms-4 text-black-50 fst-italic"
                th:text="|автор ${item.account.name}|"></span>

          <span th:each="category:*{item.categories}" th:switch="${category.id}">
          <span th:case="1" class="badge rounded-pill text-bg-primary small-badge"
                th:text="${category.name}">
          </span>
          <span th:case="2" class="badge rounded-pill text-bg-success small-badge"
                th:text="${category.name}">
          </span>
          <span th:case="3" class="badge rounded-pill text-bg-info small-badge"
                th:text="${category.name}">
          </span>
          <span th:case="4" class="badge rounded-pill text-bg-warning small-badge"
                th:text="${category.name}">
          </span>
        </span>
        </a>
      </td>
      <td th:text="${#dates.format(item.created, 'dd-MM-yyyy HH:mm')}">Mark</td>
      <td>
        <span class='bi bi-check-circle-fill' style='color: green'
              th:if="${item.status}"></span>
        <span class='bi bi-clock-history' style='color: blue'
              th:if="${!item.status}"></span>
      </td>
      <td><a th:href="@{|/item/${item.id}/edit|}">Edit_<i class='bi bi-pencil'></i></a></td>
    </tr>
    </tbody>
  </table>

  <div class="position-absolute bottom-0 end-0"
       th:if="${@userSession.getAccount()!=null}"
       style='transform: translate(-350%,120%);'>
    <a class='bi bi-plus-circle-fill' style="font-size: 300%;color: #ff00aa"
       th:href="@{/newItem}"
    ></a>
  </div>
</div>
</body>
</html>
